* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    flex-direction: row;
    height: 30vh;
    justify-content: space-around;
}




#highscore {
    display: flex;
    justify-content: center;
    margin: 15px;
    height: fit-content;
}

 /*--------------------------------------*/

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
   
}
 /*--------------------------------------*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#instructions {
    align-items: center;
}

#instructions h1  {
    text-align: center;
}

#instructions p  {
max-width: 400px;
text-align: center;
}

#instructions button  {
    position: relative;
    left: 170px;
}

/*--------------------------------------*/

.question-content {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.btn-grid {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.btn {
    padding: 5px;
    margin: 5px;
}

/*--------------------------------------*/


.result-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: flex-start;
}

#results {
    align-items: center;
}

#results h1  {
    text-align: center;
}

#results p  {
max-width: 400px;
text-align: center;
}

#results button  {
    position: relative;
    bottom: 43px;
    left: 170px;
}


/*--------------------------------------*/

.hide {
    display: none;
}

.show {
    display:contents;
}