* {
    box-sizing: border-box;
}

body {
 
}

/*
-------------------- Navigation ------------------------
*/

.navigation {
    display: flex;
    justify-content: space-between;
}

#highscore {
padding-left: 10px;
}

#timer {
display: flex;
justify-content: end;
padding-right: 30px;
}


/*
-------------------- Header ------------------------
*/


.heading {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    align-items: center;
    width: 350px;
    top: 20%;
}

#instructions {
    text-align: center;
}

#start-btn {
    margin: 10px;
}
